.navbar {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	display: flex;
	justify-content: flex-end;
	user-select: none;
	background-color: transparent;
}

.controls {
	width: fit-content;
	display: flex;

	background-color: red;
}
