:root {
	font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
	--user-image: '';
	--image-opacity: 1;
	--window-opacity: 0.8;
	color: #0f0f0f;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

:root::before {
	content: '';
	width: 100%;
	height: 100%;
	position: absolute;
	background-image: var(--user-image);
	background-size: contain;
	background-position: center center;
	background-repeat: no-repeat;
	opacity: var(--image-opacity);
	transition: background-image 300ms ease;
}

* {
	box-sizing: border-box;
}

html,
body {
	margin: 0;
	padding: 0;
	background-color: rgba(0, 0, 0, var(--window-opacity));
}

body {
	width: 100vw;
	height: 100vh;
}

button {
	cursor: pointer;
}

.titlebar {
	height: 30px;
	background: #202020;
	user-select: none;
	display: flex;
	justify-content: flex-end;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
}
.titlebar-button {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	width: 30px;
	height: 30px;
	color: white;
}

#titlebar-close:hover {
	background: red;
}
.titlebar-button:hover {
	background: rgb(54, 54, 54);
}

@media (prefers-color-scheme: dark) {
	:root {
		color: #f6f6f6;
		/* background-color: rgba(0, 0, 0, var(--window-opacity)); */
	}

	input,
	button {
		color: #ffffff;
		background-color: #0f0f0f98;
	}
}
